html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 0; 
    color: #333;
    background-image: url(https://raw.githubusercontent.com/MatheusMSTi/pit2_loja_cupcakes_frontend/refs/heads/main/img/miau%20catcafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    image-rendering: optimizeSpeed;
    background-color: #f5f5dc; 
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #382422b4;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}

header {
    background-color: #503b3a;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

#vitrine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.cupcake-card {
    width: calc(25% - 15px); 
    min-width: 200px;
    
    background-color: white;
    border: 1px solid #d2b48c; 
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    
    box-sizing: border-box; 
}

.cupcake-card img { 
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.cupcake-card button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.header-title-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header-icon {
    height: 60px;
    width: auto;
    border-radius: 80%;
}

header h1 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    
    #header-icon {
        display: none;
    }

    .cupcake-card {
        width: 90%;
        min-width: 100px;
        margin: 0 auto 15px auto;
        padding: 10px;
    }
    
    main {
        max-width: 100%;
        padding: 10px;
    }
}
